<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style>
        .fieldError {
           color: #bd2130;
           font-size: 12px;
        }
    </style>
</th:block>

<div class="container" layout:fragment="content">
    <main class="loginMain">
        <!--회원가입섹션-->
        <section class="login">
            <article class="login__form__container">

                <!--회원가입 폼-->
                <div class="login__form">
                    <!--로고-->
                    <h1><img src="/images/logo.jpg" alt=""></h1>
                    <!--로고 end-->

                    <!--회원가입 인풋-->
                    <form class="login__input" action="/user/new" method="post" th:object="${userFormDto}">
                        <input type="text" name="userName" placeholder="유저네임" maxlength="30" th:field="*{userName}" />
                        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="fieldError">Incorrect Data</p>

                        <input type="password" name="password" placeholder="패스워드" th:field="*{password}" />
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError">Incorrect Data</p>

                        <input type="email" name="email" placeholder="이메일" th:field="*{email}" />
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">Incorrect Data</p>

                        <input type="text" name="name" placeholder="이름" th:field="*{name}" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="fieldError">Incorrect Data</p>

                        <button>가입</button>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                    <!--회원가입 인풋 end-->
                </div>
                <!--회원가입 폼 end-->

                <!--계정이 있으신가요?-->
                <div class="login__register">
                    <span>계정이 있으신가요?</span>
                    <a th:href="@{/user/login}">로그인</a>
                </div>
                <!--계정이 있으신가요?end-->

            </article>
        </section>
    </main>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        var errorMessage = [[${errorMessage}]]

        if (errorMessage != null) alert(errorMessage);
    </script>
</th:block>

</html>