<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style></style>
</th:block>

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!--인기 게시글-->
<main class="popular" layout:fragment="content">
    <div class="exploreContainer">

        <!--인기게시글 갤러리(GRID배치)-->
        <div class="popular-gallery">

            <div class="p-img-box" th:each="post : ${posts}">
                <a th:href="@{'/user/' + ${post.users.id}}">
                    <img th:src="@{/upload/{postImageUrl}(postImageUrl=${post.postImageUrl})}" />
                </a>
            </div>

        </div>

    </div>
</main>

<th:block layout:fragment="script">
    <script th:inline="javascript"></script>
</th:block>

</html>