<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style></style>
</th:block>

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<main class="main" layout:fragment="content">
    <section class="container">
        <!--전체 리스트 시작-->
        <article class="story-list" id="storyList">

            <!--스토리 아이템-->

            <!--스토리 아이템 끝-->


        </article>
    </section>
</main>

<th:block layout:fragment="script">
    <script th:src="@{/js/story.js}"></script>
    <script th:inline="javascript"></script>
</th:block>

</html>