<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style></style>
</th:block>

<!-- <head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->

<!--사진 업로드페이지 중앙배치-->
<main class="uploadContainer" layout:fragment="content">
    <!--사진업로드 박스-->
    <section class="upload">

        <!--사진업로드 로고-->
        <div class="upload-top">
            <a href="home.html" class="">
                <img src="/images/logo.jpg" alt="로고">
            </a>
            <p>사진 업로드</p>
        </div>
        <!--사진업로드 로고 end-->

        <!--사진업로드 Form-->
        <form class="upload-form" action="/image" method="post" enctype="multipart/form-data">
            <input  type="file" name="file" onchange="imageChoose(this)"/>
            <div class="upload-img">
                <img src="/images/person.jpeg" alt="사진" id="imageUploadPreview" />
            </div>

            <!--사진설명 + 업로드버튼-->
            <div class="upload-form-detail">
                <input type="text" placeholder="사진설명" name="caption"/>
                <button class="cta blue">업로드</button>
            </div>
            <!--사진설명 end-->

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <!--사진업로드 Form-->
    </section>
    <!--사진업로드 박스 end-->
</main>
<br/><br/>

<th:block layout:fragment="script">
    <script th:src="@{/js/upload.js}" ></script>
    <script th:inline="javascript"></script>
</th:block>

</html>