<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="site-footer custom-border-top" th:fragment="footer">
    <div class="container">
        <ul>
            <li><a href="#">소개</a></li>
            <li><a href="#">블로그</a></li>
            <li><a href="#">채용 정보</a></li>
            <li><a href="#">도움말</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">약관</a></li>
            <li><a href="#">위치</a></li>
        </ul>
        <div class="copy">
            <p>© 2024 Butlergram from Volkinuna</p>
        </div>
    </div>
</footer>

</html>