<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="header" th:fragment="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="/images/logo.jpg" alt="">
        </a>
        <nav class="navi">
            <ul class="navi-list">
                <li class="navi-item"><a href="/">
                    <i class="fas fa-home"></i>
                </a></li>
                <li class="navi-item"><a href="/post/popular">
                    <i class="far fa-compass"></i>
                </a></li>
                <li class="navi-item"><a href="#">
                    <i class="far fa-user"></i>
                </a></li>
            </ul>
        </nav>
    </div>
</header>

</html>