<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style></style>
</th:block>

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">
<!--프로필 섹션-->
<section class="profile">
    <!--유저정보 컨테이너-->
    <div class="profileContainer">

        <!--유저이미지-->
        <div class="profile-left">
            <div class="profile-img-wrap story-border"
                 onclick="popup('.modal-image')">

                <form id="userProfileImageForm">
                    <input type="file" name="profileImageFile" style="display: none;"
                           id="userProfileImageInput" />

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>

                <img class="profile-image" th:src="${#strings.isEmpty(userProfileDto.users.profileImageUrl) ? '/images/person.jpeg' : '/upload/' + userProfileDto.users.profileImageUrl}"
                     id="userProfileImage" />
            </div>
        </div>
        <!--유저이미지 end-->

        <!--유저정보 및 사진등록 구독하기-->
        <div class="profile-right">
            <div class="name-group">
                <h2 th:text="${userProfileDto.users.name}"></h2>
                <th:block th:switch="${userProfileDto.pageOwnerState}">
                    <button th:case="true" class="cta" onclick="location.href='/post/upload'">사진등록</button>
                    <th:block th:case="false">
                        <th:block th:switch="${userProfileDto.subscribeState}">
                            <button th:case="true" class="cta blue" th:onclick="'toggleSubscribe(' + ${userProfileDto.users.id} + ', this)'">구독취소</button>
                            <button th:case="*" class="cta" th:onclick="'toggleSubscribe(' + ${userProfileDto.users.id} + ', this)'">구독하기</button>
                        </th:block>
                    </th:block>
                </th:block>

                <button class="modi" onclick="popup('.modal-info')">
                    <i class="fas fa-cog"></i>
                </button>
            </div>

            <div class="subscribe">
                <ul>
                    <li><a href="#">게시물<span th:text="${userProfileDto.imageCount}"></span>
                    </a></li>
                    <li><a th:onclick="'subscribeInfoModalOpen(' + ${userProfileDto.users.id} + ')'">구독정보<span th:text="${userProfileDto.subscribeCount}"></span>
                    </a></li>
                </ul>
            </div>
            <div class="state">
                <h4 th:text="${userProfileDto.users.bio}"></h4>
            </div>
        </div>
        <!--유저정보 및 사진등록 구독하기 end-->
    </div>
</section>

<!--게시물컨섹션-->
<section id="tab-content">
    <!--게시물컨컨테이너-->
    <div class="profileContainer">
        <!--그냥 감싸는 div (지우면이미지커짐)-->
        <div id="tab-1-content" class="tab-content-item show">
            <!--게시물컨 그리드배열-->
            <div class="tab-1-content-inner">

                <th:block th:each="post : ${userProfileDto.users.posts}">
                    <div class="img-box">
                        <a href="#">
                            <img th:src="'/upload/' + ${post.postImageUrl}" />
                        </a>
                        <div class="comment">
                            <a href="#" class=""> <i class="fas fa-heart"></i><span th:text="${post.likeCount}"></span>
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>

<!--로그아웃, 회원정보변경 모달-->
<div class="modal-info" onclick="modalInfo()">
    <div class="modal">
        <button th:onclick="'location.href=\'/user/' + ${#authentication.principal.id} + '/update\''">회원정보 변경</button>
        <button onclick="location.href='/auth/logout'">로그아웃</button>
        <button onclick="closePopup('.modal-info')">취소</button>
    </div>
</div>
<!--로그아웃, 회원정보변경 모달 end-->

<!--프로필사진 바꾸기 모달-->
<div class="modal-image" onclick="modalImage()">
    <div class="modal">
        <p>프로필 사진 바꾸기</p>
        <button th:onclick="'profileImageUpload(' + ${userProfileDto.users.id} + ', ' + ${#authentication.principal.id} + ')'">사진 업로드</button>
        <button onclick="closePopup('.modal-image')">취소</button>
    </div>
</div>
<!--프로필사진 바꾸기 모달 end-->

<div class="modal-subscribe">
    <div class="subscribe">
        <div class="subscribe-header">
            <span>구독정보</span>
            <button th:onclick="modalClose()">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <div class="subscribe-list" id="subscribeModalList">
        </div>
    </div>
</div>

</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/profile.js}"></script>
    <script th:inline="javascript"></script>
</th:block>

</html>